<a href="/posts/{{id}}">
  <div id="allPosts">
    <div id="postHeader">
      <div id="homeName">
        {{name}}
      </div>
      <div id="homeCreatedBy">
        Posted by {{user.username}} on {{format_date createdAt}}
      </div>
    </div>
    <div id="homeDesc">
      {{description}}
    </div>
  </div>
</a>