{{#if loggedIn}}
<div id="onePost" data-post_id="{{post.id}}" data-user_id="{{post.user_id}}">
    <div id="postHeader">
        <div id="homeName">
            {{post.name}}
        </div>
        <div id="homeCreatedBy">
            Posted By {{post.user.username}} on {{ format_date post.createdAt}}
        </div>
    </div>

    <div id="homeDesc">
        {{post.description}}
    </div>
</div>

<div>
    {{#each post.comments }}
    {{> comment-details comment=this username=../post.user.username date=../post.createdAt}}
    {{/each}}
</div>

<div id="onePost" class="comment-form">
    <div id="commentHeader"></div>
    <label id="commentLabel" for="comment">Comment:</label>
    <div><input type="text" id="comment"></div>
    <button id="comment-btn" type="submit">Submit</button>
</div>
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}

<script src="/js/comment.js"></script>